.footer {
    margin-top: auto;
    min-height: 7vh;
    height: auto;
    width: 100%;
    background-color: #141234;
    display: flex;
    align-items: center;
    color: #36d1dc;
    
}

.footer a{
    color: #36d1dc
}

.footer p{
    text-align: center;
    margin: auto;
}